{
  font-family: Arial;
  background: #f1f1f1;
}

header {
  margin: 20 px;
  padding: 20px;
  text-align: center;
  background-color:Grey;

}

nav {
  margin-left: 200px  ;
  margin-right: 200px  ;
  padding: 50px;
  text-align: left  ;
  background-color: white;
}

.NavCont{
  margin: 30px  ;
  padding: 30px;
  text-align: center;
}
