{
  font-family: Arial;
  background: #f1f1f1;
}

header {
  margin: 20 px;
  padding: 20px;
  text-align: center;
  background-color:Grey;

}

nav {
  margin-left: 150px  ;
  margin-right: 150px  ;
  padding: 20px;
  text-align: center  ;
  background-color: white;
}

.NavCont{
  margin-left: 200px  ;
  margin-right: 200px  ;
  padding: 30px;
  text-align: left;
}

.firstTitle{
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: white;
}
.firstCont{
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: white;
}
