body {
  font-family: Arial;
  background: #f1f1f1;
}

header {
  margin: 15 px;
  padding: 15px;
  text-align: center;
  background-color:grey;

}

.top{
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
  text-align: center;
}


.firsttTitle{
  margin: 15 px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.firstCont{
  margin-left: 150px;
  margin-right: 150px;
padding: 20px;
text-align: left;
}

.secondTitle{
  margin: 15 px;
  padding: 15px;
  text-align: center;
  background-color: white;

}

.secondCont{
  margin-left: 150px;
  margin-right: 150px;
padding: 20px;
text-align: left;
}

.thirdTitle{
  margin: 15 px;
  padding: 15px;
  text-align: center;
  background-color: white;

}

.thirdCont{
  margin-left: 150px;
  margin-right: 150px;
padding: 20px;
text-align: left;
}
