{
  font-family: Arial;
  background: #f1f1f1;
}

header {
  margin: 20 px;
  padding: 20px;
  text-align: center;
  background-color:Grey;

}

nav{
  margin: 20px  ;
  padding: 20px;
  text-align: center  ;
  background-color: white;
}

.whizzy{
  margin-left:150px;
  margin-right:150px;
  padding: 10px;
  text-align: center;
}

.dash{
  margin-left:150px;
  margin-right:150px;
  padding: 10px;
  text-align: center;
}
