body {
  font-family: Arial;
  background: #f1f1f1;
}

header {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color:Grey;

}


.NavCont{
  margin-left: 250px  ;
  margin-right: 250px  ;
  padding: 20px;
  text-align: center ;

}
.NavConts{
  margin-left: 250px  ;
  margin-right: 250px  ;
  padding: 20px;
  text-align: left  ;

}
.NavConts{
  margin-left: 250px  ;
  margin-right: 250px  ;
  padding: 20px;
  text-align: left  ;

}

.firstTitle{
  margin: 15px  ;
  padding: 20px;
  text-align: center;
  background-color:white;

}

.firstCont{
  margin-left: 250px  ;
  margin-right: 250px  ;
  padding: 20px;
  text-align: left;
}

.secondTitle{
  margin: 15px  ;
  padding: 20px;
  text-align: center;
  background-color:white;

}

.secondCont{
  margin-left: 250px  ;
  margin-right: 250px  ;
    padding: 20px;
    text-align: left;
}
.thirdTitle{
  margin: 15px  ;
  padding: 20px;
  text-align: center;
  background-color:white;

}

.thirdCont{
  margin-left: 250px  ;
  margin-right: 250px  ;
    padding: 20px;
    text-align: center;
}
.fourthTitle{
  margin: 15px  ;
  padding: 20px;
  text-align: center;
  background-color:white;

}

.fourthCont{
  margin-left: 250px  ;
  margin-right: 250px  ;
    padding: 20px;
    text-align: center;
}
.singitTitle{
  margin: 15px  ;
  padding: 20px;
  text-align: center;
  background-color:white;
}
.drop-menu1{
  margin-left: 150px  ;
  margin-right: 150px  ;
    padding: 20px;
    text-align: center;
}

.drop-menu2{
  margin-left: 150px  ;
  margin-right: 150px  ;
    padding: 20px;
    text-align: center;
}

.drop-menu3{
  margin-left: 150px  ;
  margin-right: 150px  ;
    padding: 20px;
    text-align: center;
}
.drop-menu4{
  margin-left: 150px  ;
  margin-right: 150px  ;
    padding: 20px;
    text-align: center;
}
